@model Restaurant.Models.CustomerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>

<div>
    <h4>Customer @Html.DisplayFor(model => model.CustomerID)</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Table.WaitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table.WaitTime)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DinersCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DinersCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
